.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 90px;
    border: 1px solid #808080;
    border-radius: 10px;
}
.link{
    font-weight: 600;
    font-size: 16px;
    color: #1c1c1c;
    text-decoration: none;
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.userDte{
    font-size: 12px;
    color: #808080;
}
.score{
    padding: 6px 12px;
    background-color: #8f8f8f;
    color: white;
    border: 20px;
}
.lowScore{
    background-color: #8f8f8f;
    color: white;
}
.midScore{
    background-color: #1c1c1c ;
    color: aqua;
}
.highScore{
    background-color: #c29898;
    color: #92c7c7;
}